.row-input {
  text-align: center;
}

.button {
  position: relative;
  top: 50%;
  margin-right:15px;
}

.Card-input {
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.01), 2px 6px 6px rgba(0,0,0,0.05);
}