
.App {
  text-align: center;
}

.App-logo {
  color: white;
}

.App-logo-feedback {
  float: right;
  color: white;
}

/* .App-logo-feedback:hover {
  color: 'white';
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-content {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}

.App-footer {
  display: flex;
  justify-content: center;
  flex: 0 0 50px;
  margin-top: auto;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; */
}
